<div class="top_side">
  <div class="user_name">
  <%= link_to current_user.name,  edit_user_path(current_user)%>
  </div>
  <div class="create_chat"><a href="#">チャットを作成する</a></div>
</div>

<div class="bottom_side">
  <div class="chat_room"><a href="#">chatroom</a></div>
  <div class="chat_room"><a href="#">chatroom2</a></div>
  </div>